name: Main Branch Workflow (5.0)

on:
  push:
    branches: [ "main" ]

jobs:

  test-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install dependencies
        run: |
          pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Lint
        run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exit-zero


      - name: Uruchom Wlasna Akcje
        uses: ./.github/actions/hello-action
        with:
          who-to-greet: 'Mistrza DevOps'


  publish-image:
    needs: test-code
    uses: ./.github/workflows/reusable-build.yml
    with:
      image_name: strangeyears0/my-devops-app
    secrets:
      docker_username: ${{ secrets.DOCKER_USERNAME }}
      docker_password: ${{ secrets.DOCKER_PASSWORD }}